#description,
#locationwrap {
  width: 80%;
  height: 29rem;
  margin: auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

#description {
  margin-top: 5rem;
}
.desc-atas {
  width: 100%;
  height: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

.desc-bawah,
.lokasi {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 75%;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.desc-bawah {
  background: #d37d2f;
  color: #fafafafa;
  text-indent: 2rem;
  font-size: 1.5rem;
}

.text-area {
  margin: auto;
  width: 95%;
}
.text-area ol li {
  text-indent: 1rem;
}
.lokasi {
  display: flex;
  background: #f5f5f5;
  border: 1px solid #bbbbbb;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.lokasi-isi {
  overflow: hidden;
  height: 90%;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.lokasi-isi iframe {
  width: 95%;
  height: 90%;
}

.lokasi-isi iframe:first-of-type {
  margin-left: 1rem;
}

@media only screen and (max-width: 555px) {
  .lokasi-isi {
    margin-top: 1.5rem;
    height: 15rem;
    width: 90%;
    margin: auto;
  }
  #locationwrap {
    height: 95rem;
  }
  .lokasi-isi iframe:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .lokasi {
    display: grid;
  }
}
.lokasi-isi p {
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.lokasi-isi iframe,
.lokasi-isi p {
  transition: all 100ms ease;
}
.lokasi-isi:hover iframe,
.lokasi-isi:hover p {
  scale: 105%;
}
.lokasi-isi:hover p {
  color: #d37d2f;
}
