html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  overflow-x: hidden;
  color: rgb(50, 50, 50);
  background-color: #fafafafa;
  font-family: 'League Spartan', sans-serif;
  background-color: #efefef;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: purple;
  background: greenyellow;
}

.main {
  display: flex;
  width: 100%;
  height: 36rem;
  overflow: hidden;
  background-color: #efefef;
}

aside {
  width: 15%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
}

ul {
  padding-left: 0.2rem;
}
#isiAdmin {
  top: 10%;
  width: 100%;
  height: 90%;
  position: relative;
  overflow: auto;
}

.userp {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  cursor: pointer;
}

table {
  width: 97.5%;
  border-collapse: separate;
  border-spacing: 0 1em;
  overflow: auto;
}

tr {
  width: auto;
}
tbody tr {
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
td {
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

td:first-of-type {
  border-radius: 1rem 0 1 1rem;
}

td:last-of-type {
  border-radius: 0 1rem 1rem 0;
}
.nav_item {
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
}

.nav_item:hover {
  background-color: #f5c943;
  color: #fafafafa;
}

.activeAdmin {
  background-color: #14da14;
  color: #fafafafa;
}

#trash {
  background-color: red;
  border-radius: 0.75rem;
  padding: 0.5rem;
  stroke: #ffffff;
  transition: all 150ms ease;
}

#edit {
  background-color: rgb(3, 62, 255);
  border-radius: 0.75rem;
  padding: 0.5rem;
  stroke: #ffffff;
  transition: all 150ms ease;
}

#edit:hover,
#trash:hover {
  cursor: pointer;
  stroke: #7a3016;
  background-color: transparent;
}

.modalAdmin,
.modalFoto,
.modalCreate {
  display: none;
  position: fixed;
  width: 50%;
  height: 400px;
  padding: auto;
  top: 6rem;
  margin-left: 10%;
  background-color: #dfdfdf;
  border-radius: 0.5rem;
  z-index: 40;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #dadadafa;
  overflow-x: hidden;
  overflow-y: auto;
}
.modalAdmin h1,
.modalCreate h1 {
  font-size: 1.5rem;
}
.modalAdmin button,
.modalCreate button {
  padding: 0.7rem 1.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
input,
label,
textarea,
select {
  margin: auto;
  display: block;
  width: 80%;
  margin-bottom: 0.4rem;
}

input,
textarea,
select {
  border-radius: 0.5rem;
  height: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
}

#higlight {
  width: 20px;
  height: 20px;
}
input[type='file'],
#higlight {
  box-shadow: none;
  border-radius: 0;
}

input[type='file']:focus,
#higlight:focus {
  outline: 0;
}
textarea {
  height: max-content;
}

textarea:focus,
input:focus {
  outline: 1px solid #d8d517;
}

.button {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: end;
  column-gap: 1rem;
  align-items: center;
  height: 4rem;
  overflow: hidden;
}

#modedit {
  background-color: orange;
  color: white;
}
#modcancel,
#createCancel {
  background-color: red;
  color: white;
}

#modCreate {
  background-color: #45c719;
  color: white;
}

.modalAdmin button:hover,
.modalCreate button:hover {
  color: #7a3016 !important;
  background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 10px;
}

#create {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #45c719;
  font-size: 1.2rem;
  font-weight: 500;
}

#create:hover {
  color: #45c719;
  background-color: white;
  cursor: pointer;
}

#userp {
  width: 100%;
  height: 100%;
}
#modalprof {
  display: none;
  position: fixed;
  width: 15%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  border-radius: 0.5rem 0 0 0.5rem;
  top: 10%;
  z-index: 20;
  overflow: hidden;
  right: 0rem;
}

.modal-isi {
  display: flex;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  transition: all 100ms ease;
}

.modal-icon,
.modal-isi p {
  margin: 1rem 0 0.5rem 1rem;
  transition: all 100ms ease;
}

.modal-isi:hover,
.modal-isi:hover p,
.modal-isi:hover .modal-icon {
  background-color: #fafafa;
  color: #6f0000;
  scale: 102%;
}

#aligalig {
  display: none;
}

#cilang {
  font-size: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.prevFoto {
  border-radius: 0.5rem;
  background-color: #646464;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  font-weight: normal;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.prevFoto:hover {
  background-color: transparent;
  color: #7a3016;
  text-shadow: none;
}

.utama {
  display: block;
  width: 85%;
  left: 15%;
  position: relative;
  margin: 0;
  padding: 0;
  transition: all 400ms ease;
}

.navmenu {
  display: none;
  width: 0;
  left: 2.5%;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

aside ul li span {
  display: inline;
  font-size: 0.9rem;
}

#cilang2 {
  display: none;
  width: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.sukses,
.gagal {
  border-radius: 0.5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
}
.sukses {
  background-color: #30d430b8;
}

.gagal {
  background-color: #da5656a5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cebc90;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cebc90;
  border-radius: 6px;
}

@media screen and (max-width: 890px) {
  aside ul li span {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  tr td,
  tr th,
  #create,
  .prevFoto {
    font-size: 0.75rem;
  }
  #create,
  .prevFoto {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 1rem !important;
  }

  #edit,
  #trash {
    width: 14px;
    height: 14px;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }

  #modalprof {
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  .modalAdmin,
  .modalFoto,
  .modalCreate {
    margin-left: 0%;
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .modalAdmin,
  .modalFoto,
  .modalCreate {
    width: 90%;
    margin-left: 0%;
    margin: auto;
  }
  .userp {
    width: 10%;
    height: 75%;
  }

  .navmenu {
    display: flex;
    width: 87%;
  }
  aside ul li span {
    display: inline;
    font-size: 0.8rem;
  }
  aside {
    width: 0;
    top: 7.5%;
    transition: all 400ms ease;
  }

  .utama {
    width: 97.5%;
    left: 2.5%;
  }
  #aligalig {
    display: block;
  }
}

@media screen and (min-height: 667px) {
  .main {
    height: 667px;
  }
}
@media screen and (min-height: 896px) and (max-height: 914px) {
  .main {
    height: 896px;
  }
}
@media screen and (min-height: 844px) and (max-height: 850px) {
  .main {
    height: 844px;
  }
}
@media screen and (min-height: 851px) and (max-height: 895px) {
  .main {
    height: 851px;
  }
}
@media screen and (min-height: 740px) and (max-height: 843px) {
  .main {
    height: 740px;
  }
}
@media screen and (min-height: 915px) {
  .main {
    height: 915px;
  }
}

@media screen and (min-width: 1440px) {
  .userp {
    height: 100%;
  }
}
