#hiro {
  margin-top: 4.3rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(../img/Hiro2.jpg) no-repeat center center fixed;
  filter: grayscale(20%);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 0.5rem 0.5rem;
  transition: all 200ms ease;
  overflow: hidden;
}

#hiro:hover {
  filter: grayscale(0%);
}

.hiro_content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
  border-radius: 3rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 79px;
  transition: all 150ms ease;
}

.hiro_content:hover {
  scale: 105%;
}

.hiro_content p {
  text-align: center;
  color: #fafafafa;
  background: linear-gradient(to right, #e0cd1c, #eeb90c 50%, #fafafafa 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 600ms ease;
  cursor: pointer;
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.content-wrap {
  width: 100%;
  height: 70%;
}

.hiro_content p:hover {
  background-position: 0 100%;
}

.sub {
  font-size: 1.3rem;
  margin-top: -1rem;
  font-weight: 500;
}

.socmed {
  background-color: #d1d1d1;
  margin: auto;
  display: flex;
  column-gap: 4rem;
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socmed_itemHome {
  height: 40px;
  width: 40px;
  margin-top: 1.2rem;
  transition: all 150ms ease;
}
.exp {
  margin: auto;
  margin-top: 0.75rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 3rem;
  background: linear-gradient(90deg, rgba(248, 188, 77, 1) 0%, rgba(242, 142, 2, 1) 35%, rgba(207, 135, 29, 1) 100%);
  border-radius: 4rem;
  transition: all 100ms ease;
  color: #fafafafa;
}

.exp:hover {
  margin-top: 1.5rem;
  background: linear-gradient(90deg, rgba(248, 188, 77, 0.7) 0%, rgba(242, 142, 2, 0.7) 35%, rgba(207, 135, 29, 0.7) 100%);
  color: #730000;
}

#categories {
  margin: auto;
  margin-top: 2rem;
  padding: 0;
  height: 25rem;
  display: flex;
  width: 95%;
  display: flex;
  column-gap: 2rem;
}

.categories_content {
  width: 31%;
  height: 100%;
  background: linear-gradient(180deg, rgba(234, 182, 0, 0.4) 13.02%, rgba(211, 190, 7, 0.79521) 40.63%, rgba(222, 174, 4, 0.9) 75%, rgba(231, 144, 14, 0.4) 100%);
  box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.animate-fading {
  animation-name: fading;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel1 {
  visibility: visible;
}

.carousel2 {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  margin: 0 0 0 0;
  padding: 0;
}

.button-carou {
  height: 3rem;
  align-self: center;
  border-radius: 2rem;
  width: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #d8ac29;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease;
}

.button-carou:hover {
  color: #d37d2f;
  background-color: #fafafafa;
  scale: 105%;
}
.categories_content:hover {
  margin-top: -0.5rem;
}

.cat-pic {
  width: 75%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
}

.cat-picture {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: #fafafafa;
}

.cat-text {
  width: 75%;
  margin: auto;
}

.cat-text p {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
  margin-top: -1.25rem;
  color: #fafafafa;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#recom {
  margin: auto;
  margin-top: 1rem;
  align-items: center;
  height: 32rem;
  display: flex;
  width: 92.5%;
  display: flex;
  column-gap: 2rem;
}

.recom-box {
  width: 10%;
  display: flex;
  overflow: hidden;
  height: 90%;
  position: relative;
  background-color: #d85e29;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.recom-text {
  margin: 0 0 0rem 4rem;
  position: relative;
  color: #fafafafa;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  transform: rotate(-90deg);
}

.recom-content {
  margin-left: 1rem;
  height: 90%;
  width: 90%;
  display: flex;
  column-gap: 2rem;
}

.recom-isi {
  height: 100%;
  width: 33%;
  background: #fbb16c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.recom-white {
  height: 50%;
  width: 70%;
  overflow: hidden;
  display: block;
  background-color: #fafafafa;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.recom-pic {
  height: 80%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.recom-price {
  height: 20%;
  width: 100%;
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  column-gap: 1rem;
}

.cart {
  width: 27%;
  height: 100%;
  background: #ffc4c4;
  border-radius: 0px 20px 0px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease;
  cursor: pointer;
}

.recom-price-text {
  margin-top: 0.4rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: #730000;
}

.cart:hover {
  background-color: #fafafafa;
}

#shoping-cart {
  transition: all 100ms ease;
}
.cart:hover #shoping-cart {
  scale: 115%;
}

.recom-isi-text {
  margin: auto;
  width: 70%;
  overflow-y: hidden;
  display: block;
}

.recom-text-judul {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  margin: 4px;
}

.recom-text-detail {
  font-size: 0.75rem;
  margin: 4px;
  text-align: justify;
  text-justify: inter-word;
}
.recom-more {
  background-color: #d3602f;
  height: 2rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  align-items: center;
  color: #fafafafa;
  border-radius: 1rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 100ms ease;
  cursor: pointer;
}

.recom-more:hover {
  scale: 105%;
  color: #730000;
  background-color: #fafafafa;
}

#galery {
  margin: auto;
  margin-top: 1rem;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: center;
  width: 95%;
  display: flex;
  column-gap: 2rem;
  margin-bottom: 3rem;
}

.galeri-isi {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  height: 75%;
  overflow: hidden;
  border-radius: 1.5rem;
}

.galeri-isi img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  max-width: 23%;
  transition: all 100ms ease;
  filter: grayscale(70%);
  cursor: pointer;
}

.galeri-isi img:hover {
  scale: 105%;
  filter: grayscale(0%);
}

@media screen and (min-width: 709px) and (max-width: 808px) {
  .recom-text-judul {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1080px) {
  .hiro_content {
    width: 80%;
  }

  .galeri-isi {
    margin: auto;
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .galeri-isi img {
    max-width: 100%;
  }
}

@media screen and (max-width: 625px) {
  .hiro_content {
    font-size: 3rem;
  }
  .sub {
    font-size: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .hiro_content {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .sub {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 630px) {
  .button-carou {
    display: none;
    width: 0;
    height: 0;
  }
  .carousel2 {
    visibility: visible;
    display: block;
    width: 100%;
    height: 18rem;
  }
  .socmed_itemHome {
    height: 30px;
    width: 30px;
  }
  .socmed {
    column-gap: 2rem;
  }
  #categories {
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    height: auto;
  }
  .categories_content {
    margin-top: 2rem;
    width: 100%;
    height: 18rem;
  }

  .categories_content:hover {
    margin-top: 2rem;
    scale: 102.5%;
    background: linear-gradient(180deg, rgba(234, 129, 0, 0.4) 13.02%, rgba(211, 92, 7, 0.795) 40.63%, rgba(222, 124, 4, 0.9) 75%, rgba(231, 104, 14, 0.4) 100%);
  }
  #recom {
    display: block;
    height: auto;
    margin: auto;
    width: 80%;
  }
}
@media screen and (min-width: 631px) and (max-width: 768px) {
  .categories_content {
    width: 25%;
  }
  .cat-text p {
    font-size: 1.75rem;
  }
  .button-carou {
    width: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #categories {
    column-gap: 1.5rem;
  }

  .galeri-isi {
    width: 80%;
  }
  #recom {
    display: block;
    height: auto;
    margin: auto;
    width: 70%;
  }
  .recom-isi:first-of-type {
    margin-top: -2rem;
    border-radius: 0 0 1rem 1rem;
  }
  .recom-box,
  .recom-content,
  .recom-more {
    width: 100%;
  }

  .recom-content {
    height: auto;
    display: block;
  }

  .recom-isi {
    padding: 0;
    margin-left: -1rem;
    height: 28rem;
    width: 100%;
  }

  .recom-box {
    margin-top: 2rem;
    height: 4rem;
    border-radius: 0.7rem;
  }

  .recom-text {
    transform: rotate(0deg);
    margin: auto;
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .socmed_itemHome {
    height: 23px;
    width: 23px;
  }
  .socmed {
    column-gap: 1.4rem;
  }
}
